h3 {
    text-decoration: underline;
    display: inline-block;
    margin-right: 15px;
}

p {
    display: inline-block;
    margin-left: 5px;
}

.prioridad {
    width: 10px;
    height: 10px;
    border: 1px black solid;
    display: inline-block;
}
#prioridad1 {
    background-color: red;
}

#prioridad2 {
    background-color: orange;
}

#prioridad3 {
    background-color: yellow;
}

#realizada {
    text-decoration: line-through;
}

#pendiente {
    text-decoration: none;
}

.filtrados {
    display: inline-block;
}